* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  /* Account for fixed navbar */
}